<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(26, 117, 255)">
    <a class="navbar-brand" href="#" style="font-size: 25px;color: white">Navbar</a>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="navbar-nav">
						<li class="nav-item active">
							 <a class="nav-link" style="font-size: 17px;color: white" href="#">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							 <a class="nav-link" style="font-size: 17px;color: white" href="#">Master Data</a>
						</li>
					</ul>			
				</div>
</nav>